* {  
 padding:0px;
 margin:0px;
}

body { 
 font-family: Arial, sans-serif;
 font-size:13px;
 font-size-adjust:none;
 font-style:normal;
 font-variant:normal;
 font-weight:normal;
 line-height:1.5;
}

h1, h2, h3, h4, h5, h6 {
 color:#2B2720;
 font-weight:normal;
}

p {
 margin:5px 0px 10px 0px;
}

hr {
 height:1px;
 background:#AAA;
 color:#AAA;
}

.copystuff { 
 padding:2px 0px 0px 4px;
 font-size:10px;
}

.copystuff a { 
 text-decoration:none;
}

#content li { margin: 0px 20px; }

#content {  
 margin: 0px 10px 0px 255px;
 padding-top:0px;
}

h2 {  
 margin-top:0px; 
 font-size:17px;
 font-weight:normal;
}

h2.modsummary {
 font-size:11px;
 border-bottom: 1px solid #999;
 margin-bottom:10px;
}

.functions {
 margin-top:15px;
}

.function h3 {   
 font-size:15px;
 font-weight:bold;
}

.function {  
 margin: 15px 0px;
}

.function em, .function p {  
 padding-left:10px;
}

.function ul {  
 list-style-type:none;
}

.function em {  
 float:left;
}

.seealso {  
 font-size:13px;
}

.seealso li {  
 float:left;
 padding-left:10px;
}

code { 
 font-family:"Courier New","Andale Mono",monospace;
}

pre {
border:1px solid #DFECF1;
color:#25221D;
font-family:"Courier New","Andale Mono",monospace;
font-size:12px;
line-height:normal;
overflow:auto;
padding:10px;
}

#sidebar {  
 overflow-y: hidden;
 overflow-x: hidden;
 position:fixed;
 border-right:1px solid #999;
 width:240px;
 padding:0px;
 background:#EEE;
 height:100%;
}

#sidebar input { 
 display:block;
 width:228px;
 outline:none;
 font-family: 13px Arial, sans-serif;
 padding:2px;
 margin:3px;
 border:1px solid;
border-color:    #CCC #999 #999 #CCC;

}

#results {  
 height:100%;
 overflow-y:scroll;
 overflow-x: hidden;
 list-style-type:none;
 border-top:1px solid #999;
 border-bottom:1px solid #999;
}

#results li a {  
 display: block;
 padding:3px;
 position:relative;
 text-decoration:none;
 color:#111;
 border-bottom:1px solid #DDD;
}

#results .name {
 padding-left:33px;
}

#results li:hover {  
 background:#DDD;
}

#results li.selected {
 background:#990033;
 color:white;
}
#results li.selected a, #results li.selected span {
 color:white;
}

#results .sub {  
 color:#333333;
 font-size:11px;
 white-space:nowrap;
}

#results .dat {  
 -moz-border-radius:    3px;
 -webkit-border-radius: 3px;
 font-size:11px;
 line-height:11px;
 padding:2px;
 font-weight:bold;
 color:white;
 position:absolute;
 display:block;
 width:25px;
 margin:2px 5px 0px 0px;
 text-align:center;
}

#results li.fun .dat {  
 background:blue;
}

#results li.mod .dat {  
 background:green;
}

#results li.app .dat {  
 background:red;
}